:root{
  --mainGreen: #81B06D;
  --lightGreen: #BAD4AF;
  --mainWhite: #F4F8F2;
  --mainDark: #273C2C;
  --mainPurple: #8D6B94;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}

.text-title{
  font-family: 'Lobster', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainGreen);
}

.text-bright{
  color: var(--lightGreen);
}

.nav-item{
  list-style-type: none;
}