:root{
  --mainGreen: #81B06D;
  --lightGreen: #BAD4AF;
  --mainWhite: #F4F8F2;
  --mainDark: #273C2C;
  --mainPurple: #8D6B94;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}

.text-title{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-green{
  color: var(--mainGreen);
}

.text-bright{
  color: var(--lightGreen);
}

.nav-item{
  list-style-type: none;
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color:var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainPurple);
}